{% extends "base.html" %}
{% load truncate_filters %}

{% block content %}
    <h2>Log in and start sharing keys</h2>
    <br>
    <div class="row">
        <div class="span5 well" style="min-height:250px;">
            <img src="{{ MEDIA_URL }}img/twitter.png">
            <img src="{{ MEDIA_URL }}img/facebook.png">
            <img src="{{ MEDIA_URL }}img/google.png">
            {% if last_selected_idp and last_selected_idp_name %}
                <a class="btn btn-success" href="/auth/login?idp={{ last_selected_idp }}">{{ last_selected_idp_name|truncatechars:30 }}</a>
            {% endif %}
            <br><br>
            <p>Use this if you have an existing identity in a trusted identiy
                provider and want to publish <em>trusted keys</em>.</p>
            <form class="form-inline" action="{% url keybucket.auth.views.login %}" method="GET">
                <select id="idp" name="idp">
                    <option value="" disabled="disabled" selected="selected">Select your identity provider</option>
                    {% for url, idp in available_idps %}
                        <option value="{{url}}">{{idp.0}}</option>
                    {% endfor %}
                </select>
                <br>
            <br>
                <input class="btn btn-success" type="submit" value="Select"/>
            </form>
        </div>
    <div class="span1" style="border-left: 1px solid silver;"></div>

    <div class="span6 well" style="min-height:250px;">
        <p>Use this if you have signed up for a <em>keybucket account</em> which
        provides a quick and easy way to publish untrusted keys.</p>
        <form class="form-inline" action="{% url keybucket.auth.views.login %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Login"/>
        </form>

        <p class="pull-right"><a href="{% url registration.views.register %}">Sign up</a></p>
    </div>
</div>

{% endblock %}