{% extends 'base.html' %}

{% block content %}
    <div class="span8">
        <h1>Add key</h1>
        <hr>
        <form class="form" action="/ssh/add" method="post">  {% csrf_token %}
            <h6 class="form-title">Paste your key</h6>
            {{ form.key }}
            <h6 class="form-title">Name this key</h6>
            {{ form.name }}
            <h6 class="form-title">Describe what this key is for, so you remember next time</h6>
            {{ form.description }}
            <hr>
            <h6 class="form-title">Assurance level</h6>
            {{ form.assurance }}
            <hr>
            <input type="submit" class="btn btn-large btn-success" value="Save key"/>
            <input type="reset" class="btn btn-large btn-important" value="Clear form"/>
        </form>
    <br><br>
    </div>
{% endblock %}