{% extends 'base.html' %}

{% block content %}
    <!-- <a href="/ssh/add" class="btn btn-large btn-success pull-right">Add key</a> -->
    {% if keys %}
        {% for key in keys %}
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <span class="label label-info pull-left" style="margin-top:10px;margin-right:10px;">SSH</span>
                    <a style="text-align: left;text-decoration: none;color:#111;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion-{{ key.id }}">
                        <i class="icon-chevron-right pull-right"></i> <p style="font-size: 1.1em;">{{ key.name }}</p>
                    </a>
                </div>
                <div id="accordion-{{ key.id }}" class="accordion-body collapse">
                    <div class="accordion-inner" style="border-top: 0">
                        <div style="text-align:left">
                            <pre>{{ key.key }}</pre>
                            <br>
                            {{ key.description }}
                            <br><br>
                            {% if key.assurance.all %}
                            <div class="well">
                            <strong>Assurance level</strong>
                            <br><br>
                            {% for a in key.assurance.all %}
                                {{ a }}
                                <br>
                                <i style="margin-right:10px;" class="icon-thumbs-down pull-left"></i>
                                <i style="margin-left:10px;" class="icon-thumbs-up pull-right"></i>
                                <div class="progress">
                                    <div class="bar" style="width: {{ a.quality }}%;"></div>
                                </div>
                            {%  endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>

    {% else %}
            <div class="hero-unit">
                <p>Welcome, please fill your bucket with some keys</p>
            </div>
    {% endif %}
    </div>
{% endblock %}