{% extends 'base.html' %}
{% block content %}
<div class="span8">
    <div class="page-header"><h1>Contact</h1></div>
    <p>We'd love to hear from you!</p>
    <div class="row">
        <div class="span4">
            <address>
                <strong>leifj at nordu.net</strong><br/>
                NORDUnet A/S
            </address>
        </div>
        <div class="span4">
            <address>
                <strong>jbn at nordu.net</strong><br/>
                NORDUnet A/S
            </address>
        </div>
    </div>
</div>
{% endblock %}