{% extends 'base.html' %}
{% block content %}
<div class="span8">
    <div class="page-header"><h1>Privacy Policy</h1></div>
    <h3>Gathering and Use of Personal Data</h3>
    <p>information gathered by the system is only used to enable the use of the service and for user authorization.
        Log file information is only used to monitor server and network capacity as well as to solve technical,
        performance, and abuse issues.</p>
    <p>The following information is retrieved from the identity provider at user login: username, name and email address,
        Additionally, a user may provide more detailed information for the service via the user own profile space.
        Personal data remains in the system 24 months from the last login.</p>

    <h3>Data protection and Security</h3>
    <p>The required network traffic of the service is protected by TLS encryption. The internal system register is
        protected by personal user accounts, and by personal authorization of the system administrators.</p>

    <h3>Transfer of Personal Data</h3>
    <p>The username is accessible by other users of the service. Additional (voluntary) information provided
        by the user on the user profile is accessible by other users of the service. An user account is required to access
        this information. Other personal data gathered by the service is accessible only to authorized staff. Personal
        information is never transferred to third parties.</p>

    <p>Public keys provided by the user is made available to all requesting parties.</p>

    <h3>Validating and Correcting Personal Data</h3>
    <p>Users may contact the service to receive information about her/his personal information stored in the system.
        Information provided by the identity provider should be validated and corrected via the identity provider.
    </p>
</div>
{% endblock %}