{% extends 'base.html' %}
{% block headline %}
    <div class="span12" style="padding-top: 20px;">&nbsp;</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span4">
        <h1>Watch the video</h1>
        <hr/>
        <iframe src="http://player.vimeo.com/video/38634031"
                frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        </iframe>
    </div>
    <div class="span8">
        <div class="hero-unit">
          <h1>Your keys: published</h1>
          <p>Keybucket connects your SSH key to your identity on-line.</p>
          <p>
            <a class="btn btn-primary btn-large" href="/ssh/add">
              Publish your SSH pubkey right now!
            </a>
          </p>
        </div>
    </div>
</div>
    <hr/>
<div class="row">
    <div class="span4">
            <h1>Site administrators</h1>
            <p>
               <strong>Keybucket</strong> provides stable references for all your users SSH keys.
                Keybucket works with both popular social login aswell as high assurance federated identity.
                As a site administrator you can easily control which <strong>level of protection</strong>
                your site should have. <a class="btn btn-info btn-mini" href="/about/siteowners">Learn more »</a>
            </p>
     </div>
    <div class="span4">
        <h1>Users</h1>
        <p>
            <strong>Keybucket</strong> is a stable place to publish your SSH pubkey(s). If you are using SSH
            to access lots of machines or if you often setup new machines then keybucket is for you. Use keybucket
            to automate your SSH pubkey management. No more copy-paste!
            <a class="btn btn-info btn-mini" href="/about/users">Learn more »</a>
        </p>
    </div>
    <div class="span4">
        <h1>Developers</h1>
        <p>
            Working with <strong>Keybucket</strong> is easy: we provide simple RESTful APIs and accessing
            a key in SSH authorized keys format is merely a GET away.
            <a class="btn btn-info btn-mini" href="/about/developers">Learn more »</a>
        </p>
    </div>
</div>
{%  endblock %}