{% extends 'base.html' %}
{% block header %}
<h1 class="text-logo" id="title" style="color:#666;"><span style="color:#333;">Your keys:</span>published</h1>
{% endblock %}

{% block content %}
    {% if keys %}
    <div id="key-container" class="shadow">
        {% for key in keys %}
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a style="text-align: left;text-decoration: none;color:#111;font-weight: bold;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion-{{ key.id }}">
                        {{ key.name }}
                        <span class="pull-right"><i class=""></i></span>
                    </a>
                </div>
                <div id="accordion-{{ key.id }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div style="text-align:left">
                            <pre>{{ key.key }}</pre>
                            <br>
                            <strong>Assurance:</strong> {{ key.assurance }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% endif %}
        <a href="/ssh/add" class="btn btn-large btn-success">Add key</a>

    </div>
{% endblock %}