<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>keybucket</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
        <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/ribbon.css" rel="stylesheet">
        {%  block extrahead %}{% endblock %}
        <script language="javascript" type="text/javascript" src="http://quickribbon.com/ribbon/2012/06/ed994ff3c35e411844e02d5abf9beb67.js"></script>
    </head>
    <body>
        <div class="container">
            <div style="text-align: center;margin-top:0px;" id="key-container">
                <div class="row">
                    {% block headline %}
                    <a href="/ssh"><img style="margin-top: -7px;margin-right:20px;" class="pull-left" width="50px" height="50px" src="{{ MEDIA_URL }}img/bucket.svg"></a>
                    {% block header %}{% endblock %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            <div style="margin-top:30px;">
                <div class="row">
                    <hr>
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>