<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>keybucket</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
        <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet">
        <link href="{{ MEDIA_URL }}css/ribbon.css" rel="stylesheet">
        {%  block extrahead %}{% endblock %}
    </head>
    <body>
        {% block headline %}
        <div id="header">
            <div class="container">
                    <div class="row">
                        <div class="span12">
                            <!-- <h1 class="text-logo pull-left" id="title" style="font-size: 3em;">Keybucket</h1> -->

                            {% block extraheader %}{% endblock %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="span10">&nbsp;</div>
                        <div class="span2">
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_preferred_1"></a>
                                <a class="addthis_button_preferred_2"></a>
                                <a class="addthis_button_preferred_3"></a>
                                <a class="addthis_button_preferred_4"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <!--
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                            <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fd278ef059cc5e2"></script>
                            -->
                        </div>
                    </div>
            </div>
        </div>
        {% endblock %}

        <!-- <div class="ribbon-wrapper-green"><div class="ribbon-green">BETA</div></div> -->
        <div class="container">
            <div>
                <div class="row">
                    <div class="span12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div style="bottom:0;">
                <div class="row">
                    <hr>
                    {% block footer %}
                        <div class="span4">
                            <ul class="unstyled">
                                <li><a href="/about/keybucket">About</a></li>
                                <li><a href="/about/contact">Contact</a></li>
                                <li><a href="/about/privacy">Privacy Policy</a></li>
                                <li><a href="/about/security">Security Information</a></li>
                            </ul>

                        </div>
                        <div class="span4">
                            <ul class="unstyled">
                                <li><a href="/about/users">Users</a></li>
                                <li><a href="/about/developers">Developers</a></li>
                                <li><a href="/about/siteowners">Site Owners</a></li>
                                <li><a href="/about/opensource">OpenSource</a></li>
                            </ul>
                        </div>
                        <div class="span4">
                            <ul class="unstyled">
                                <li><a href="/">Main Page</a></li>
                                {% if not user.is_anonymous %}
                                <li><a href="/ssh">Logged in as {{ user }}</a> &nbsp; <a class="btn btn-danger btn-mini" href="/accounts/logout">Logout</a></li>
                                {% else %}
                                <li><a class="btn btn-success btn-mini" href="/ssh">Login</a></li>
                                {% endif %}
                                {% if user.is_superuser and user.is_staff %}
                                <li><a href="/admin">Administration</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>